@model WebAppFin.Models.Category

<h2>Edit Category</h2>

<form asp-controller="Admin" asp-action="EditCategory" method="post">

    <div>
        <label for="CategoryId">Category Id:</label>
        <input type="text" id="CategoryId" name="CategoryId" asp-for="CategoryId" value="@Model.CategoryId" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>

    </div>

    <div>
        <label for="CategoryName">Category Name:</label>
        <input type="text" id="CategoryName" name="CategoryName" asp-for="CategoryName" value="@Model.CategoryName" />
        <span asp-validation-for="CategoryName" class="text-danger"></span>
    </div>

    <button type="submit">Update Category</button>
</form>
